#!/bin/bash -e

# this function comes from wwwconfig-common's apache.func script
getwwwoption() {
    getwwwoption=""
    if [ -f $2 ] ; then
	if grep $1 $2 | grep -v "#" > /dev/null 2>&1 ; then
	    getwwwoption=$(sed -ne "/^[[:space:]]*$1[[:space:]]\+/ s|[[:space:]]*$1[[:space:]]\+\([^[:space:]]\+\)[[:space:]]*$|\1|pg;" < $2)
	fi
    fi
}


# Use debconf baby
. /usr/share/debconf/confmodule
db_version 2.0
db_title Diogenes

db_input "low" "diogenes/welcome" || true
db_go
db_input "high" "diogenes/purge_removes_data" || true
db_go

### Required options no matter what ###
db_input "high" "diogenes/webservers" || true
db_go
db_get "diogenes/webservers"
webservers="$RET"

# if a single webserver is selected, 
# try to get the user and group the webserver runs as
nbsrv=0
for i in $webservers ; do nbsrv=`expr $nbsrv + 1`; done

if [ $nbsrv == 1 ]; then
    server=$(echo $webservers | sed 's/,$//')
    config_file=
    if [ "$server" == "apache2" ] && [ -f /etc/$server/apache2.conf ]; then
        config_file=/etc/$server/apache2.conf
    elif [ -f /etc/$server/httpd.conf ]; then
        config_file=/etc/$server/httpd.conf
    fi
    if [ -n "$config_file" ]; then
        getwwwoption User $config_file
        webuser=$(echo "$getwwwoption" | sed -e "q")
        getwwwoption Group $config_file
        webgroup=$(echo "$getwwwoption" | sed -e "q")
    fi
fi

if [ -z "$webuser" ]; then
    db_input "high" "diogenes/webuser" || true
    db_go
else
    db_set "diogenes/webuser" "$webuser"
fi
if [ -z "$webgroup" ]; then
    db_input "high" "diogenes/webgroup" || true
    db_go
else
    db_set "diogenes/webgroup" "$webgroup"
fi

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
    . /usr/share/dbconfig-common/dpkg/config.mysql 
    dbc_first_version=0.9.20-2
    dbc_oldversion="$2"
    # check if we are migrating from a pre-dbc version
    if [ "$dbc_oldversion" ] && [ "$dbc_first_version" ] && \
        dpkg --compare-versions "$dbc_first_version" gt "$dbc_oldversion"; then
        echo "WE ARE MIGRATING"
	fi
    dbc_go diogenes $@
fi

