/* insert your CSS customisations below */

#header {
  margin: 1px;
  padding: 3px;
  border: 1px dotted #2050a0;
  background-color: #edf8ff;
  color: #2050a0;
}

#footer {
  margin: 1px;
  padding: 3px;
  border: 1px dotted #2050a0;
  background-color: #edf8ff;
}

body {
  background-color: #60a5e0;
  color: inherit;
}

.menu .item a {
  background-color: #4080c0;
  color: inherit;
}

.menu .item a.odd {
  background-color: #4590d0;
  color: inherit;
}

.menu .item a:hover {
  background-color: #3050d0;
  color: white;
}

.menu .item a.top {
  background-color: #2050a0;
  color: white;
}

/* table class 'light' */
table.light {
  border-collapse: collapse;
  background-color: #edf8ff;
  border: 2px solid #2050a0;
  color: black;
}

table.light tr.odd {
  background-color: #90c0e0;
}

table.light th {
  background-color: #2050a0;
  color: white;
}

/* version */
.version {
  font-size: 8pt;
}

.hidden {
/*  display: none */;
  color: #60a5e0;
  font-size: 1pt;
}
