/* insert your CSS customisations below */

body {
  background-color: #fff;
  color: inherit;
}

#header {
    background: #f5f8fc;
    border: 1px solid #69c;
    margin: 0 1em;
    color: #369;
}

#header .logo { display: none; }
#header .titlebar { margin: 0px; }
#header .site { font-size: 20pt !important; letter-spacing: 0px }
#header .page { color: #690; font-size: 20pt !important }

#header .page:before { content: ' [ '; }
#header .page:after { content: ' ] '; }

#sidebar {
    width: 14em;
    font-family: "Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin: 1em;
    background: #f5f8fc;
    border: 1px solid #69c;
}

#main {
    font-family: "Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    background: #f5f8fc;
    border: 1px solid #69c;
    line-height:125%;
    padding: 0em 1em 1em 1em;
    margin: 1em 1em 1em 15em;
}

#main p  { padding: 0px; margin: 1ex 1em; text-align: justify }
#main ul { margin: 1ex 1em; }
#main li { margin-top: 1ex; margin-bottom: 1ex; text-align: justify }

h1 {
    color: #369;
    font-size: 130%;
    border-bottom: 2px solid #369;
    padding: 4px;
    margin: 2em 0em 1em 0em;
}

h2 {
    color: #369;
    padding: 0px 4px;
    margin: 1em 0em 0.5em 0em;
    font-size: 100%;
    font-weight: bold;
    border-bottom: 1px dotted #369;
}

#main a:link, #main a:visited { color: #f60; background: transparent; }
#main a:active, #main a:hover { color: #369; background: transparent; }

.header {
  background-color: #99aabb;
  color: #202040;
}

.menu {
    font-weight: bold;
    background: transparent;
    width: 14em;
}

.menu .item {
    background: transparent;
}

.menu .item a {
    color: #690;
    background: transparent;
    border: 1px dotted #fff;
    display: block;
    padding: 1px 4px;
    text-align: left;
    font-size: 80%;
    font-family: Bitstream Vera Sans,Verdana,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

.menu .item a.top, .menu .item a.top:hover {
    color: #f90;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #f90;
    text-transform: uppercase;
    text-align: left;
    padding: 0px 1ex;
    margin: 1ex 0ex;
}

.menu .item a.odd {
    color: #690;
    background: transparent;
}

.menu .item a:hover {
    color: #690;
    background: #eaf2db;
    border: 1px dotted #690;
}

.menu .item a.top[href]:hover {
    color: #000;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #000;
}

/* table class 'light' */
table.light {
    border-collapse: collapse;
    color: inherit;
    background: #fff;
    border: 1px solid #a2c2e1;
    width: 98%;
    margin-left: 1%;
}

table.light tr.odd {
    color: inherit;
    background: #fff;
}
table.light tr.even {
    color: inherit;
    background: #eee;
}


table.light th {
    color: #369;
    background: #d6e1ec;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 0px 4px;
}

code, div code {
    display: block;
    background: white;
    border: 1px dotted #2050a0;
    color: inherit;
    font-family: monospaced;
    font-size: 10pt;
    padding: 1em;
    margin: 1em 2em;
}

code pre {
    padding: 0px;
    margin: 0px;
}

tt { font-size: 10pt; }

li > code, p > code, tt.code {
    display: inline;
    border: 1px dotted #2050a0;
    background: #fff;
    color: inherit;
    padding: 0 2px 0 2px;
    margin: 0ex;
}

#main p.version {
    text-align: center;
    font-family: georgia;
    font-size: 9pt;
    margin-top: 4em;
}
